[submodule "callbus"]
	path = callbus
	url = git@github.com:4d30/callbus.git
[submodule "transform/alonzo"]
	path = transform/alonzo
	url = git@github.com:4d30/alonzo.git
[submodule "cafs"]
	path = cafs
	url = git@github.com:4d30/cafs.git
